footer.footer-light-medium {
  padding-bottom: 10rem;
  padding-top: 8rem;
  background: $white;
  .social-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .icon {
      color: $title-grey;
      margin: 0 5px;
      &:hover {
        color: $primary;
      }
    }
  }
  .footer-description {
    color: $title-grey;
  }
  .footer-column {
    padding-top: 20px;
    .column-header {
      text-transform: uppercase;
      color: $blue-grey;
      font-size: 1rem;
      font-weight: 700;
      margin: 10px 0;
    }
    .column-item {
      padding-bottom: 10px;
      a {
        color: $title-grey;
        &:hover {
          color: $primary;
        }
      }
    }
  }
  .moto {
    color: $muted-grey;
  }
  .small-footer-logo {
    height: 28px;
  }
}
