/* ==========================================================================
1. Body 
========================================================================== */
.rocket-title {
    /* Rectangle */

    padding: 0.5rem;

    color: $black;
}

.rocket-repo-button {
    /* Rectangle */
    padding: 0.75rem;

    background: $main;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: $white;
}

.rocket-repo-logo {
    width: 24px;
    height: 24px;
    color: $white;
}

.rocket-paper-button {
    /* Rectangle */
    padding: 0.75rem;

    background: $main;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: $white;
}

.rocket-paper-logo {
    width: 24px;
    height: 24px;
}

.rocket-snippet{
    /* Rectangle */

    padding: 0.75rem;

    color: $black;

    font-family: $family-snippet;
}

.rocket-family {
    /* Rectangle */

    padding: 0.75rem;

    background: $main;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: $white;
}

.rocket-description-box {
    /* Rectangle */

    padding: 0.75rem;
    min-height: 100px;

    color: $black;
}

.rocket-description-title {

}

.rocket-description-body {

}

.rocket-trainable-notice {
    padding: 0.75rem;

    color: $black;
}

.rocket-trainable-title {

}

.rocket-trainable-badge {
    width: 26px;
    height: 26px;
}

.rocket-public-notice {
    /* Rectangle */

    padding: 0.75rem;

    color: $black;
}

.rocket-public-title {

}

.rocket-public-badge {
    width: 26px;
    height: 26px;
}

.rocket_background {
    background: $white;//rgba(250, 251, 253, 0.6);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 2rem;
}