@charset "utf-8";

// Update Bulma's initial variables
$family-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$primary: #44bfd5;
$blue-grey: #444F60;
$title-grey: #A9ABAC;
$light-grey: #EFF4F7;
$muted-grey: #999;
$smoke-white: #fcfcfc;
$secondary: #7c4dff;

$family-snippet: -apple-system, BlinkMacSystemFont, Consolas, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";

$main: #6C4DCC;

@import "node_modules/bulma/sass/utilities/initial-variables.sass";
@import "node_modules/bulma/sass/utilities/functions.sass";
@import "node_modules/bulma/sass/utilities/derived-variables.sass";
$box-background-color: $light;

$navbar-item-color: $white;
$navbar-item-hover-color: $blue-grey;
$navbar-item-hover-background-color: $white;